<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/water"
        android:label="Quản lý sử dụng nước"
        android:roundIcon="@mipmap/water_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".giaodien.DanhSachKhachHang"
            android:exported="false" />
        <activity
            android:name=".giaodien.ThongTinKhachHang"
            android:exported="false" />
        <activity
            android:name=".giaodien.MainActivity_Custom_GridView"
            android:exported="false" />
        <activity
            android:name=".giaodien.MainActivity_GridView"
            android:exported="false" />
        <activity
            android:name=".giaodien.MainActivity_ListView"
            android:exported="false" />
        <activity
            android:name=".giaodien.DangNhap_New"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".giaodien.ThongTinNhanVien"
            android:exported="false" />
        <activity
            android:name=".giaodien.DangNhap"
            android:exported="false" />
        <activity
            android:name=".giaodien.ThongBao"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>